body {
    background-color: #f7f9f4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: none;
}
input.is-invalid {
    border-color: red;
}
